/* font-family: 'Rajdhani', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
html {
  height: 100vh;
  /* padding: 0; */
}
body {
  margin: -10px -10px;
  padding-right: 35px;
}

.container {
  background-color: #531f62;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font: normal 14px/1.8 "Roboto", sans-serif;
}

.watch-parties-made-easy {
  width: 100%;
  background-color: #531f62;
  background-image: url(./asset/gradient-violet-bg.jpg);
  background-size: cover;
  padding: 0 25px 60px;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 30px 0;
  line-height: 48px;
}

h3 {
  font-size: 20px;
  margin: 0 200px 30px;
}

/* Chose to not make header sticky - as it had strange effect on dropdowns without js.*/
header {
  width: 100%;
  height: 83px;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 100px;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */ /* sticky nav*/
  /*position: fixed;  /* sticky nav*/
}

.logo-container {
  width: 201px;
  height: auto;
  top: 19px;
  left: 20px;
  z-index: 70;
  display: block;
  padding: 0;
}

.logo-container .logo-img {
  width: 100%;
}

/* nav {
  /* transition: top 0.3s; */
/*position: absolute;
  top: 0px;
  z-index: 9999999;  
} */

.navbutton {
  padding: 11px 25px;
  /* width: 150px; */
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  display: inline-block;
}
.navbutton a {
  color: white;
  cursor: pointer;
}

.navbutton2 {
  /* background-color: white; */
  padding: 11px 15px;
  z-index: 100;
  text-align: left;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  min-width: 100%;
}
.navbutton2 a {
  color: #777784;
  cursor: pointer;
}
/* This hides the dropdown */
.dropdown-box {
  display: none;
  background-color: white;
  position: absolute;
  /* z-index: 100; */
  padding-top: 0px;
  margin-left: -30px;
  font-weight: 400;
  border-radius: 4px;
}
/* This turns the dropdown on */
.navbutton:hover .dropdown-box {
  display: block;
}
.navbutton:hover > a .fa {
  transform: rotate(180deg);
  transition-duration: 0.4s;
}
.navbutton a .fa {
  font-size: 12px;
}
.dropdown-box .navbutton2 {
  transition-duration: 500ms;
}
.navbutton2:hover > a {
  color: black;
}
.dropdown-box .navbutton2:hover {
  text-decoration: underline;
}
.premium:hover {
  text-decoration: underline;
}
.openKa {
  top: 0;
  right: 15px;
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 5px;
  margin-right: 30px;
  margin-left: 35px;
  letter-spacing: 1.44px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.openKa:hover {
  /* animation over nav bar open kast*/
  border: 3px solid white;
}

button {
  background-color: none;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
  background-clip: padding-box;
}

button:hover {
  /* animation over open kast*/
  transition: all 0.3s;
  border-color: #fe9000;
  /* height: 42px; */
}

.main-container {
  padding: 0 30px;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
  z-index: 2;
}

.main-container img {
  width: 60%;
  justify-content: center;
  /* padding-top: 100px;  /* sticky nav*/
}

.openKast {
  padding: 9px 20px;
  background-color: rgb(254, 144, 0);
  color: white;
  margin: 20px 0 30px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 3px;
}

.publications {
  background-color: white;
  min-height: 400px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.publications h2 {
  text-align: center;
  color: #434146;
  font-weight: bold;
  justify-content: center;
}

.pubContainer {
  margin-bottom: 30px;
  min-height: 350px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 30%));
  grid-column-gap: 50px;
}

.pub1,
.pub2,
.pub3,
.pub4,
.pub5,
.pub6 {
  padding: 30px;
}

.pub-quote {
  color: #434146;
  max-width: 750px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

.pub-quote--auth {
  font-style: italic;
  color: #434146;
  text-align: right;
  display: block;
}

.what-is-kast {
  width: 100%;
  padding: 110px 25px;
  background-image: url(asset/green-bg.jpg);
  background-size: cover;
}
